.flex-grid {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post {
  background-color: #dadada;
}
.title {
  font-weight: 600;
  color: #060627;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
